%h1.mt3.mb3= @event.name
%h1.mt3.mb3= @event.start_at
%h1.mt3.mb3= @event.end_at
%h1.mt3.mb3= @event.content
%h1.mt3.mb3= @event.owner.name

-# modelを直接参照しているので、良くない
- if @event.created_by?(current_user)
  -# routesのresource eventで作成されてる
  = link_to "イベント編集画面へ", edit_event_path(@event), class: "goge"
  = link_to "イベント削除へ", event_path(@event), class: "goge", method: :delete, data: { confirm: "削除しますか？"}

- if logged_in?
  %h3.mt-2 参加申し込み
  = form_with(model: @event.tickets.build, url: event_tickets_path(@event)) do |f|
    #errors
    .form-group
      = f.text_field :comment, class: "formcontrol"
    .form-group
      = f.button "送信", class:"btnbtnprimary"
- else
  = link_to "参加する", new_event_ticket_path(@event), class: "goge"

%h3.mt-2 主催者
.card-body
  = link_to(url_for_github(@event.owner), class: "card") do 
    = image_tag @event.owner.image_url, width: 50, height: 50
    = "@#{@event.owner.name}"

%h3.mt-2 参加者
.card-body
- @tickets.each do |ticket|
  %li.items
    = link_to(url_for_github(ticket.user), class: "card") do
      = image_tag ticket.user.image_url, width: 50, height: 50
      = "@#{ticket.user.name}"
    = ticket.commnent