!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title AwesomeEvents
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
  %body
  %header
    .container
      = link_to "AwesomeEvent", root_path, class: "navbar-brand"
      %ul.navbar-navbar
        %li.nav-item
          = link_to "イベントを作る", new_event_path, class: "navbar-link"
        - if logged_in?
          %li.nav-item
            = link_to "ログアウト", logout_path, class: "navbar-link", method: :delete
          %li.nav-item
            = link_to "退会", new_retirement_path, class: "navbar-link"
        - else
          %li.nav-item
            = link_to "githubでログイン", "/auth/github", class: "navbar-link", method: :post
    .container
      - if flash.notice
        .alert.alert-success
          = flash.notice
      - if flash.alert
        .alert.alert-danger
          = flash.alert
      = yield